{% extends 'user/base.html' %}
{% load static %}
{% block content %}
  <main class="main">
    {% comment %} <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="index.html" rel="nofollow">Home</a>
          <span></span> Shop
        </div>
      </div>
    </div> {% endcomment %}
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <div class="shop-product-fillter style-2">
              <div class="totall-product">
                <p>
                  We found <strong class="text-brand">{{ count_product }}</strong> items for you!
                </p>
              </div>
            </div>
            {% for product in products %}
              <div class="product-list mb-50">
                <div class="product-cart-wrap">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <div class="product-img-inner">
                        <a href="{% url 'shop_app:product_details' slug=product.varient_slug %}"><img class="default-img" src="{{ product.thumbnail_image.url }}" alt="" /></a>
                      </div>
                    </div>
                    <div class="product-badges product-badges-position product-badges-mrg">
                      <span class="hot">Hot</span>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="shop-grid-right.html">Music</a>
                    </div>
                    <h2><a href="{% url 'shop_app:product_details' slug=product.varient_slug %}">{{ product.product_name }}</a></h2>
                    <div class="product-price">
                      <span>₹{{ product.after_discount }}</span>
                      <span class="old-price">₹{{ product.price }}</span>
                    </div>
                    <p class="mt-15">{{ product.description }}</p>
                    <div class="product-action-1 show">
                      <a aria-label="Buy now" class="action-btn" href="{% url 'cart_app:add_to_cart' slug=product.varient_slug %}"><i class="fi-rs-shopping-bag-add"></i>Add to Cart</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="col-lg-3 primary-sidebar sticky-sidebar">
            <div class="widget-category mb-30">
              <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
              <ul class="categories">
                {% for Category in categories %}
                  <li>
                    <a href="{% url "shop_app:search_category" id=Category.id %}">{{ Category.category_title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <!-- Fillter By Price -->
            <div class="sidebar-widget price_range range mb-30">
              <form action="{% url "shop_app:home" %}" method="GET">
                <div class="row">
                  <div class="col-lg-6">
                    {{ form.min_price.label_tag }}
                    {{ form.min_price }}
                    {{ form.min_price.errors }}
                  </div>
                  <div class="col-lg-6">
                    {{ form.max_price.label_tag }}
                    {{ form.max_price }}
                    {{ form.max_price.errors }}
                  </div>
                </div>
                <div class="row mt-10 mx-1">
                  <button type="submit" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Fillter</button>
                </div>
              </form>
            </div>
            <!-- Product sidebar Widget -->
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
