{% extends 'cus_admin/base.html' %}
{% block title %}Coupon{% endblock %}
{% load static %}
{% block content %}
  <main class="main-wrap">
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Coupon</h2>
          <p>Add, edit or delete a Coupon</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              {% if coupon %}
                <form action="{% url 'coupon_app:edit' id=coupon.id %}" method="POST">
                  {% csrf_token %}
                  {{ form_coupon.as_p }}
                  <center>
                    <button class="btn-secondary border-0 py-1 px-3 rounded mt-2" type="submit">Update</button>
                  </center>
                </form>
              {%else %}
                <form action="{% url 'coupon_app:coupon' %}" method="POST">
                  {% csrf_token %}
                  {{ form_coupon.as_p }}
                  <center>
                    <button class="btn-secondary border-0 py-1 px-3 rounded mt-2" type="submit">Save</button>
                  </center>
                </form>
              {% endif %}
            </div>
            <div class="col-md-9">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Coupon Code</th>
                      <th>Description</th>
                      <th>Status</th>
                      <th>Dicount Per</th>
                      <th>Min amount</th>
                      <th>Expiry date</th>
                      <th class="text-end">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for coupon in coupons %}
                      <tr>
                        </td>
                        <td>{{coupon.coupon_code}}</td>
                        <td>{{coupon.description}}</td>
                        <td><form action="{% url 'coupon_app:status' coupon.id %}" method="POST">
                          {% csrf_token %}
                          <button type="submit" class="badge rounded-pill alert-success border-0">
                            {% if coupon.is_active %}
                              Active
                            {% else %}
                              Inactive
                            {% endif %}
                          </button>
                        </form></td>
                        <td>{{coupon.dis_percentage}}</td>
                        <td>{{coupon.min_amount}}</td>
                        <td>{{coupon.expiry_date}}</td>
                        <td class="text-end">
                          <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"><i class="material-icons md-more_horiz"></i></a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url "coupon_app:edit" id=coupon.id %}">Edit info</a>
                              <a class=" delete dropdown-item text-danger" href="{% url "coupon_app:delete" id=coupon.id %}" data-coupon-name="{{coupon.coupon_code}}">Delete</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div> 
          </div> 
        </div> 
      </div> 
    </section>
    <footer class="main-footer font-xs">
      <div class="row pb-30 pt-15">
        <div class="col-sm-6">
          <script>
            document.write(new Date().getFullYear())
          </script>©, Evara - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end">All rights reserved</div>
        </div>
      </div>
    </footer>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
       document.querySelectorAll('.delete').forEach(function (btn) {
          btn.addEventListener('click', function (event) {
             event.preventDefault();
 
             const deleteUrl = event.currentTarget.getAttribute('href');
             const CouponCode = event.currentTarget.getAttribute('data-coupon-name');
 
             // Display SweetAlert confirmation dialog
             Swal.fire({
                title: 'Are you sure?',
              text: `You want to delete ${CouponCode}!`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Delete'
             }).then((result) => {
                if (result.isConfirmed) {
                   // If confirmed, proceed with the delete action
                   window.location.href = deleteUrl;
                }
             });
          });
       });
    });
 </script>
{% endblock %}
