{% extends 'cus_admin/base.html' %}
{% load static %}
{% block title %}Create Product{% endblock %}
{% block content %}
  <main class="main-wrap">
    {% include 'cus_admin/header.html' %}
    <section class="content-main">
      <div class="content-header">
        <a href="javascript:history.back()"><i class="material-icons md-arrow_back"></i> Go back</a>
      </div>
      <form action="{% url 'product_app:add_product' %}" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="content-header">
              <h2 class="content-title">Add New Product</h2>
              <div>
                <button type="submit" class="btn btn-md rounded font-sm hover-up">Add</button>
              </div>
            </div>
          </div>
          <div class="card col-9">
            <div class="card-body">{{ form.as_p }}</div>
          </div>
        </div>
      </form>
    </section>
    <footer class="main-footer font-xs">
      <div class="row pb-30 pt-15">
        <div class="col-sm-6">
          <script>
            document.write(new Date().getFullYear())
          </script>©, Evara - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end">All rights reserved</div>
        </div>
      </div>
    </footer>
  </main>
{% endblock %}
