{% extends 'cus_admin/base.html' %}
{% load static %}
{% block title %}Product Variant{% endblock %}
{% block content %}
  <main class="main-wrap">
    {% include 'cus_admin/header.html' %}
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">{{ product.product_name }}</h2>
          <p>variant of the product</p>
        </div>
        <div>
          <a href="{% url 'product_app:variant_add' slug=product.product_slug %}" class="btn btn-primary btn-sm rounded">Create new variant</a>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          {% for variant in variants %}
            <article class="itemlist">
              <div class="row align-items-center">
                <div class="col-lg-3 col-sm-3 col-8 flex-grow-1 col-name">
                  <a class="itemside" href="#">
                    <div class="left">
                      <img src="{{ variant.thumbnail_image.url }}" class="img-sm img-thumbnail" alt="Item" />
                    </div>
                    <div class="info">
                      <h6 class="mb-0">{{variant.varient_slug}}</h6>
                    </div>
                  </a>
                </div>
                <div class="col-lg-2 col-sm-2 col-4 col-price">
                  <span>{{variant.price}}</span>
                </div>
                <div class="col-lg-1 col-sm-2 col-4 col-status">
                  <form action="{% url 'product_app:variant_status' slug=variant.varient_slug p_slug=product.product_slug %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="badge rounded-pill alert-success">
                      {% if variant.vari_is_active %}
                        Active
                      {% else %}
                        Inactive
                      {% endif %}
                    </button>
                  </form>
                </div><div class="col-lg-1 col-sm-2 col-4 col-date">
                  <span>{{variant.stock}}</span>
                </div>
                <div class="col-lg-2 col-sm-2 col-4 col-date">
                  <span>{{variant.created_at}}</span>
                </div>
                <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                  <a href="{% url "product_app:variant_edit" slug=variant.varient_slug p_slug=product.product_slug %}" class="btn btn-sm font-sm rounded btn-brand"><i class="material-icons md-edit"></i> Edit</a>
                  <a href="{% url "product_app:delete_variant" slug=variant.varient_slug p_slug=product.product_slug %}" class="btn btn-sm font-sm btn-light rounded delete-variant-btn" data-category-name="{{variant.varient_slug}}"><i class="material-icons md-delete_forever"></i> Delete</a>
                </div>
              </div> 
            </article> 
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
       document.querySelectorAll('.delete-variant-btn').forEach(function (btn) {
          btn.addEventListener('click', function (event) {
             event.preventDefault();
 
             const deleteUrl = event.currentTarget.getAttribute('href');
             const categoryName = event.currentTarget.getAttribute('data-category-name');
 
             // Display SweetAlert confirmation dialog
             Swal.fire({
                title: 'Are you sure?',
                text: `You want to delete ${categoryName}`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Delete'
             }).then((result) => {
                if (result.isConfirmed) {
                   // If confirmed, proceed with the delete action
                   window.location.href = deleteUrl;
                }
             });
          });
       });
    });
 </script>
{% endblock %}
