{% extends 'cus_admin/base.html' %}
{% load static %}
{% block content %}
  <main class="main-wrap">
    {% include 'cus_admin/header.html' %}
    
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.delete-variant-btn').forEach(function (btn) {
        btn.addEventListener('click', function (event) {
          event.preventDefault()
    
          const deleteUrl = event.currentTarget.getAttribute('href')
          const categoryName = event.currentTarget.getAttribute('data-category-name')
    
          // Display SweetAlert confirmation dialog
          Swal.fire({
            title: 'Are you sure?',
            text: `You want to delete ${categoryName}`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Delete'
          }).then((result) => {
            if (result.isConfirmed) {
              // If confirmed, proceed with the delete action
              window.location.href = deleteUrl
            }
          })
        })
      })
    })
  </script>
{% endblock %}