{% extends 'cus_admin/base.html' %}
{% load static %}
{% block content %}
  <main class="main-wrap">
    {% include 'cus_admin/header.html' %}
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Order detail</h2>
          <p>Details for Order ID: {{ order.order_no }}</p>
        </div>
      </div>
      <div class="card">
        <header class="card-header">
          <div class="row align-items-center">
            <div class="col-lg-7 col-md-7 mb-lg-0 mb-15">
              <span><i class="material-icons md-calendar_today"></i> <b>{{ order.created_at }}</b></span> <br />
              <small class="text-muted">Order ID: {{ order.order_no }}</small>
            </div>
            <form action="{% url "admin_app:order_details" id=order.id %}" method="POST" class="d-flex col-lg-5 col-md-5 m-0 justify-content-end align-items-center">
              {% csrf_token %}
              <div>
                <p class="p-2 ">Status</p>
              </div>
              <div class="p-2">{{ form.status }}</div>
              <div class="p-2">
                <button class="btn btn-primary" type="submit">Save</button>
              </div>
            </form>
          </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
          <div class="row mb-50 mt-20 order-info-wrap">
            <div class="col-md-4">
              <article class="icontext align-items-start">
                <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-person"></i></span>
                <div class="text">
                  <h6 class="mb-1">Customer</h6>
                  <p class="mb-1">
                    {{ order.user.user_name }} <br /> +{{ order.user.phone }}
                  </p>
                  <a href="{% url "customer_app:customer_edit" id=order.user.id %}">View profile</a>
                </div>
              </article>
            </div> <!-- col// -->
            <div class="col-md-4">
              <article class="icontext align-items-start">
                <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-local_shipping"></i></span>
                <div class="text">
                  <h6 class="mb-1">Order info</h6>
                  <p class="mb-1">
                    Shipping: Fargo express <br /> Pay method: {{ order.payment.payment_method }} <br /> Status: {{ order.status }}
                  </p>
                </div>
              </article>
            </div> <!-- col// -->
            <div class="col-md-4">
              <article class="icontext align-items-start">
                <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-place"></i></span>
                <div class="text">
                  <h6 class="mb-1">Deliver to</h6>
                  <p class="mb-1">
                    City: {{ order.delivery_address.city }} <br />{{ order.delivery_address.address }} <br />{{ order.delivery_address.pin_code }}, {{ order.delivery_address.state }}, {{ order.delivery_address.country }} <br /> +{{ order.delivery_address.phone }}
                  </p>
                </div>
              </article>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="40%">Product</th>
                      <th width="15%">Unit Price</th>
                      <th width="15%">Quantity</th>
                      <th width="15%">Discount</th>
                      <th width="30%" class="text-end">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product in order_product %}
                      <tr class="align-middle">
                        <td>
                          <a class="itemside" href="#">
                            <div class="left">
                              <img src="{{ product.product.thumbnail_image.url }}" width="40" height="40" class="img-xs" alt="Item" />
                            </div>
                            <div class="info">{{ product.product.product_name }}</div>
                          </a>
                        </td>
                        <td>₹ {{ product.product.price }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.product.discount_percentage }} %</td>
                        <td class="text-end">₹ {{ product.product_price }}</td>
                      </tr>
                    {% endfor %}
                    <tr>
                      <td colspan="6">
                        <article class="float-end">
                          <dl class="dlist">
                            <dt>Subtotal:</dt>
                            <dd>₹ {{ order.sub_total }}</dd>
                          </dl>
                          <dl class="dlist">
                            <dt>Shipping cost:</dt>
                            <dd>₹ {{ order.shipping }}</dd>
                          </dl>
                          <dl class="dlist">
                            <dt>Grand total:</dt>
                            <dd><b class="h6">₹ {{ order.grand_total }}</b></dd>
                          </dl>
                          <dl class="dlist">
                            <dt class="text-muted">Status:</dt>
                            <dd><span class="badge rounded-pill alert-success text-success">{{ order.payment.payment_method }}</span></dd>
                          </dl>
                        </article>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- table-responsive// -->
            </div> <!-- col// -->
            
            <div class="col-lg-4">
              <div class="box shadow-sm bg-light">
                <h6 class="mb-15">Payment info</h6>
                <p>
                  <img src="assets/imgs/card-brands/2.png" class="border" height="20" /> Master Card **** **** 4768 <br />
                  Business name: Grand Market LLC <br />
                  Phone: +1 (800) 555-154-52
                </p>
              </div>
              <div class="h-25 pt-4">
                <div class="mb-3">
                  <label>Notes</label>
                  <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                </div>
                <button class="btn btn-primary">Save note</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="main-footer font-xs">
      <div class="row pb-30 pt-15">
        <div class="col-sm-6">
          <script>
            document.write(new Date().getFullYear())
          </script>©, Evara - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end">All rights reserved</div>
        </div>
      </div>
    </footer>
  </main>
{% endblock %}
